:root {
  --color-text-main: #212121;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #757575;
  --color-text-quaternary: #000000;
  --color-background-primary: #2f303a;
  --color-background-secondary: #ffffff;
  --color-background-tertiary: #f5f4fa;
  --color-selection: #2196f3;
  --color-border-primary: #ececec;
  --color-border-secondary: #eeeeee;
}
body {
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-text-main);
}
/* rozmiar fontów */
.text-header-large {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.text-header-big {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.text-header-medium {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.text-header-small {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.projects .text-header-big {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects .text-header-medium {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  color: var(--color-text-tertiary);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.link-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.assets .description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-tertiary);
}
.team .description {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-text-tertiary);
}
.footer {
  font-size: 14px;
  line-height: 1.71;
}
/* układ */
.inline * {
  display: inline;
}
.columns-assets,
.columns-team {
  column-count: 4;
}
.columns-scope,
.columns-projects {
  column-count: 3;
}
/* sekcje */
.header {
  height: 80px;
  border-bottom: 1px solid var(--color-border-primary);
  letter-spacing: 0.02em;
}
.header .link,
.footer .link {
  text-decoration: none;
  color: inherit;
}
.header .link-logo {
  color: var(--color-text-quaternary);
}
.header .link-contact {
  color: var(--color-text-tertiary);
}
.logo {
  color: var(--color-selection);
}
.link-nav:hover,
.link-contact:hover {
  color: var(--color-selection);
}
.landing-page .button {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-text-secondary);
  background-color: var(--color-selection);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  border: 0;
  border-radius: 4px;
}
.filter .button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-background-tertiary);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
}
.button:hover {
  background-color: var(--color-selection);
  color: var(--color-text-secondary);
  cursor: pointer;
}
.dark,
.footer {
  background-color: var(--color-background-primary);
  color: var(--color-background-secondary);
}
.team {
  background-color: var(--color-background-tertiary);
}
.footer * {
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer .link-contact {
  opacity: 0.6;
}
